body{
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
}
/*TExt area for the form*/

textarea:focus, input:focus {
    color: whitesmoke;
    text-transform: capitalize;
}

input, select, textarea{
    color: whitesmoke;
    text-transform: capitalize;
}


/*body header*/

.txt-wgt{
	font-weight: 900;
	text-decoration: none;
	font-family:sans-serif;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px lightblue;
}

.MYname{
	font-family: sans-serif;
	font-size: 6.4rem;
	position: relative;
	top: -40px;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px lightblue;
}


#body-header{
	width: auto;
	height: 65vh;
	background-image: url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1294521676?b=1&k=20&m=1294521676&s=170667a&w=0&h=7pqhrZcqqbQq43Q0_TD0Y_YjInAyvA9xiht9bto030U=);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	opacity: 0.8;
	padding-top: 1.2rem;
}


/*Horizontal list*/

.horizontal-list a{
	color: whitesmoke;
	font-size: 2.3rem;
	text-decoration: none;
	transition: color 0.5s;
}

.horizontal-list a:hover{
	color: silver;
	text-decoration: none;
}

.horizontal-list{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.horizontal-list li{
	display: inline;
	margin: 0px 10px;
	font-weight: 100;
	font-size: 0.9rem;
}

.text-center{
	text-align: center;
}

/*header-name*/

#header-name{
	position: relative;
	top: -40px;
	color: white;
	font-size: 2.8rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
}

/*social image*/

#social{
	position: relative;
	top: -150px;
	left: 500px;
	display: flex;
	flex-wrap: no-wrap;
	list-style: none;
	position: relative;
}

.social-btn{
	width: 40px;
	height: 40px;
}

.social-btn img{
	height: 20px;
	width: 20px;
}

#social .social-btn{
    padding: 14px 13px;
    color: #ffffff;
}

#social li{
	display: inline;
}

.social-btn i{
	color: whitesmoke;
	font-size: 1.5rem;
}



.social-btn:hover{
    /* box-shadow:0px 0px 6px 4px rgba(230, 196, 196, 0.2); */
	box-shadow: 0px 0px 24px 5px white;
	border-radius: 50%;

}


/*section*/

section {
    width: auto;
    /*height: 75vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

section:target{
	background-color: auto;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section-heading span {
    font-size: 30px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*main*/

#about{
	height: auto;
	width: 100%;
	position: relative;
	margin-bottom: 40px;
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0.5px 0.5px 0.5px 1px silver;
}

.about-paragraph{
	width: 50%;
	margin: auto;
	margin-top: 30px;
	color: grey;
	font-size: 1.4rem;
	text-align: left;
	font-weight: 500;
	word-spacing: 0.1rem;
	/* box-shadow: 1px 0px 0px 0px lightgrey; */
}

/*skills section*/


.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 14rem;
    height: 2.5rem;
    background-color: gray;
    border-radius: 1.2rem;
    box-shadow: 10px 2px 20px 10px gray;
    margin: 25px;
    overflow: hidden;
	border: 1px solid gray;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

/* Common  Classes */

/*.mb75px {
    margin-bottom: 75px;
}
*/

.logo-IMG{
	height: 49px;
}

.logo-text p{
	color: red;
	font-weight: 700;
	font-size: 2.7rem;
	font-family:Arial, Helvetica, sans-serif;
}

.logo-text{
	position: relative;
	top: -10px;
}

/*common color classes */

/*.text-highlight {
    color: #2857a4;
    font-weight: 600;

}*/

/*PortFolio*/

#portfolio{
	background-color: white;
}

.project-images span{
	margin: 50px;
}

.project-images span img{
  height: 25%;
  width: 25%;
  margin-bottom: 50px;
}

.project-images img:hover{
	color: white;
}

.img-container:hover .image{
	opacity: 0.3;
}

#comming{
	font-size: 1.2rem;
}

/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}

.mb-red{
	background-color: red;
}

.mb-purple{
	background-color: purple;
}

.mb-yellow{
	background-color: yellow;
}

.mb-green{
	background-color: green;
}

/*Percentage Classes */

.eighty-five-percent {
	height: inherit;
    width: 85%;
}

.seventy-percent {
    height: inherit;
    width: 70%;
}

.sixty-percent {
    height: inherit;
    width: 60%;
}

.fourty-percent {
    height: inherit;
    width: 40%;
}

.zero-percent{
	height: inherit;
	width: 0%;
}

.ten-percent{
	height: inherit;
	width: 10%;
}



/*contact - form*/

.contact-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg , red 40% , orange);
	margin-top: 0px;
	/*margin-bottom: 50px;*/
}

.contact-container .section-heading{
	margin-left: 500px;
}

.contact-container .section-heading span{
	color: white;
	margin-bottom: 40px;
}

.contact-container .section-heading span i{
	color: auto;
}

.contact-form input{
	display: block;
	margin-left: 120px;
	margin-bottom:30px;
	width: 400px;
	height: 2rem;
	font-size: 1.2rem;
	color: whitesmoke;
	background-color:red;
	border-color: white;
	border-width: 0px 0px 2px 0px;
	font-family: cursive;

}

.contact-form button{
	margin-left: 250px;
	background-color: red;
	font-size: .8rem;
	margin-bottom: 90px;
	height: 40px;
	width: 130px;
	padding: 0px;
	border-color: white;
	font-family: cursive;

}

.contact-form button span{
	color: whitesmoke;
	text-transform: uppercase;
}

#contact{
	display: flex;
	flex-direction: row;

}

.contact1{
	margin-left: 60px;
	width: 75%;
}

#contact-area{
	display: block;
	margin-left: 120px;
	margin-bottom: 30px;
	width: 400px;
	background-color:red;
	font-size: 1.2rem;
	font-family: cursive;
	border-color: white;
	border-width: 0px 0px 2px 0px;
	text-transform: none;
	font-family: cursive;
}

#form-button:hover{
	background-color: lightgrey;
	opacity: 0.7;
}

/*contact-us*/

.contact-us-heading{
	margin-left: 90px;
}

.contact-us-heading h1{
	color: whitesmoke;
	font-size: 24px;
}

#heading-content p{
	color: whitesmoke;
	font-size: 1.2rem;
	font-family: cursive;
}

#contact{	
	display: inline-block;
}

.contact-us-heading{
	margin-right: 60px;
}

.section-heading1{
	background-image: linear-gradient(90deg , red 40% , orange);
	display: flex;
	justify-content: center;
	height: auto;
}

.section-heading1 span{
	color: white;
	font-weight: 100;
	font-size: 2.3rem;
}

.address{
	margin-bottom: 10px;
}

.address span{
	color: white;
	margin-left: 5px;
	font-size: 1.2rem;
	font-family: cursive;
}

.address i{
	color: white;
}

/*Education*/


#education{
	margin-bottom: 50px;
}

.edu-logo{
	height:60px;
}

.timeline{
	position: relative;
	width: 75%;
	display: flex;
	flex-direction: column;
}

.timeline-boxes{
	position: relative;
	width: 40%;
	left: 5%;
	min-height: 150px;
	margin: 5px;
}

.timeline-boxes:nth-child(2n + 1)::after{
	content: '';
	position: absolute;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	top: 38%;
	right: -13%;
	background-color: red;
	z-index: 1;
}

.timeline-boxes:nth-child(2n)::after{
	content: '';
	position: absolute;
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	top: 18%;
	left: -10%;
	background-color: red;
	z-index: 1;
}


.timeline-boxes:nth-child(2n){
	left: 53%;
}

.timeline-divider{
	position: absolute;
	height: 88%;
	width: 0;
	border: 1px dashed #ca98e9;
	top: 10%;
	left: 50%;
}

.timeline-icon{
	position: sticky;
	top: 10%;
	transform: rotate(90deg);
}


.name1 h3::before{
	content: '';
	position: absolute;
	display: inline-block;
	height: 100px;
	width: 100px;
	left: 0%;
	background-size: contain;

}

.name2 h3::before{
	content: '';
	position: absolute;
	display: inline-block;
	height: 200px;
	width: 200px;
	left: 0%;
	padding: 2px;
	margin: 2px;
	background-size: contain;
	background-repeat: no-repeat;
}

.even-img{
	height: 50px;
	width: 60px;
}

.timeline-arrangement{
	position: relative;
	top: 50px;
}

.even-des{
	position: relative;
	top: -10px;
	left: 75px;
	font-size: 1.2rem;
}

.course{
	color:#2857a4;
	font-weight: 200;
}

.institute{
	color: orangered;
	font-family:cursive;
	margin-left: 10px;
}

.time{
	color: lightslategray;
	font-family: cursive;
	margin-left: 10px;
}

.edu-about{
	color: black;
	font-size: 1.2rem;
}

.even-cn{
	height: 50px;
	width: 50px;
}

.car-img{
	height: 70px;
}

.mb-yellow{
	color: orangered;
}

#project-container{
	display: flex;
	margin-bottom: 50px;
}

.project-1{
	width: 400px;
	background-color: #ffe5e5;
	position: relative;
	left: -50px;
	border-radius: 10px;
}
.project-2{
	width: 400px;
	background-color: #e5f2e7;
	position: relative;
	border-radius: 10px;
}
.project-3{
	height: 100px;
	width: 400px;
	background-color: #efe5ff;
	position: relative;
	left: 30px;
	border-radius: 10px;
}

.project-heading{
	font-family: cursive;
	margin-left: 20px;
	color: black;
}

.project-inner-text{
	text-decoration: none;
	color: orangered;
}

ol li{
	margin-bottom:10px;
	text-decoration:solid;
	font-weight: bolder;
}